# Course 1: Introduction to Portfolio Construction and Analysis with Python
## Module 1: Analysing returns

**Question 1**

Read in the data in the file “Portfolios_Formed_on_ME_monthly_EW.csv” as we did in the lab sessions.We performed a series of analysis on the ‘Lo 10’ and the ‘Hi 10’ columns which are the returns of the lowest and highest decile portfolios. For purposes of this assignment, we will use the lowest and highest quintile portfolios, which are labelled ‘Lo 20’ and ‘Hi 20’ respectively.

What was the Annualized Return of the Lo 20 portfolio over the entire period?

Enter the answer as a percentage. e.g. if your answer is 23.43% enter the number 23.43

In [2]:
import pandas as pd
data = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv",header=0, index_col=0, parse_dates=True, na_values=-99.99)
returns = data[["Lo 20", "Hi 20"]]/100
returns.head()

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316

In [3]:
n_months = returns.shape[0]
annualized_return = (returns+1).prod()**(12/n_months) - 1
(annualized_return["Lo 20"]*100).round(2)

15.2

**Question 2**

What was the Annualized Volatility of the Lo 20 portfolio over the entire period?

In [4]:
import numpy as np
annualized_vol = returns.std()*np.sqrt(12)
(annualized_vol["Lo 20"]*100).round(2)

33.67

**Question 3**

What was the Annualized Return of the Hi 20 portfolio over the entire period?

In [5]:
annualized_return = (returns+1).prod()**(12/n_months) - 1
(annualized_return["Hi 20"]*100).round(2)

9.85

**Question 4**

What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?

In [6]:
annualized_vol = returns.std()*np.sqrt(12)
(annualized_vol["Hi 20"]*100).round(2)

19.51

**Question 5**

What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [7]:
returns.index = pd.to_datetime(returns.index, format="%Y%m").to_period("M")
returns = returns["1999":"2015"]

In [8]:
returns

          Lo 20   Hi 20
1999-01  0.1114  0.0153
1999-02 -0.0399 -0.0172
1999-03 -0.0308  0.0368
1999-04  0.0824  0.0679
1999-05  0.0435 -0.0048
...         ...     ...
2015-08 -0.0347 -0.0559
2015-09 -0.0610 -0.0333
2015-10  0.0385  0.0710
2015-11  0.0165  0.0015
2015-12 -0.0500 -0.0229

[204 rows x 2 columns]

In [9]:
n_months = returns.shape[0]
annualized_return = (returns+1).prod()**(12/n_months) - 1
(annualized_return["Lo 20"]*100).round(2)

11.44

**Question 6**

What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [10]:
annualized_vol = returns.std()*np.sqrt(12)
(annualized_vol["Lo 20"]*100).round(2)

22.89

**Question 7**

What was the Annualized Return of the Hi 20 portfolio over the period  1999 - 2015 (both inclusive)?

In [11]:
annualized_return = (returns+1).prod()**(12/n_months) - 1
(annualized_return["Hi 20"]*100).round(2)

6.29

**Question 8**

What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [12]:
annualized_vol = returns.std()*np.sqrt(12)
(annualized_vol["Hi 20"]*100).round(2)

17.27

**Question 9**

What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?

In [16]:
def drawdown(return_series: pd.Series):
    """Takes a time series of asset returns.
       returns a DataFrame with columns for
       the wealth index, 
       the previous peaks, and 
       the percentage drawdown
    """
    wealth_index = 1000*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index - previous_peaks)/previous_peaks
    return pd.DataFrame({"Wealth": wealth_index, 
                         "Previous Peak": previous_peaks, 
                         "Drawdown": drawdowns})

-drawdown(returns["Lo 20"])["Drawdown"].min()*100

62.48092431236988

**Question 10**

At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur?

In [14]:
drawdown(returns["Lo 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

**Question 11**

What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?

In [15]:
-drawdown(returns["Hi 20"])["Drawdown"].min()*100

55.27349978713653

**Question 12**

Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?

In [17]:
drawdown(returns["Hi 20"])["Drawdown"].idxmin()

Period('2009-02', 'M')

**Question 13**

For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python. Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?

In [18]:
hfi = pd.read_csv("data/edhec-hedgefundindices.csv",header=0, index_col=0, parse_dates=True)
hfi = hfi/100
hfi.index = hfi.index.to_period('M')
hfi = hfi["2009":]
hfi

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07,0.0021,-0.0058,0.0093,0.0040,-0.0010,0.0055,0.0022,-0.0014,0.0067,-0.0021,0.0045,-0.0052,0.0018
2018-08,0.0024,0.0166,0.0002,-0.0277,0.0004,0.0011,0.0017,-0.0007,0.0035,0.0050,-0.0002,-0.0214,0.0015
2018-09,0.0034,-0.0054,0.0050,-0.0110,-0.0016,0.0032,0.0036,0.0006,-0.0023,0.0028,0.0018,0.0036,-0.0022
2018-10,-0.0073,-0.0314,-0.0158,-0.0315,-0.0129,-0.0257,-0.0023,-0.0096,-0.0402,-0.0080,-0.0109,0.0237,-0.0269
2018-11,-0.0068,-0.0053,-0.0193,0.0120,-0.0211,-0.0034,-0.0067,-0.0087,-0.0044,0.0119,-0.0063,-0.0021,-0.0071

In [19]:
def semideviation(r):
    """
    Returns the semideviation aka negative semideviation of r
    r must be a Series or a DataFrame, else raises a TypeError
    """
    if isinstance(r, pd.Series):
        is_negative = r < 0
        return r[is_negative].std(ddof=0)
    elif isinstance(r, pd.DataFrame):
        return r.aggregate(semideviation)
    else:
        raise TypeError("Expected r to be a Series or DataFrame")
        
semideviation(hfi).idxmax()

'Short Selling'

**Question 14**

Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?

In [20]:
semideviation(hfi).idxmin()

'Fixed Income Arbitrage'

**Question 15**

Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?

In [22]:
def skewness(r):
    """
    Alternative to scipy.stats.skew()
    Computes the skewness of the supplied Series or DataFrame
    Returns a float or a Series
    """
    demeaned_r = r - r.mean()
    # use the population standard deviation, so set dof=0
    sigma_r = r.std(ddof=0)
    exp = (demeaned_r**3).mean()
    return exp/sigma_r**3

skewness(hfi).idxmin()

'Equity Market Neutral'

**Question 16**

Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [24]:
hfi = pd.read_csv("data/edhec-hedgefundindices.csv",header=0, index_col=0, parse_dates=True)
hfi = hfi/100
hfi.index = hfi.index.to_period('M')
hfi = hfi["2000":]

def kurtosis(r):
    """
    Alternative to scipy.stats.kurtosis()
    Computes the kurtosis of the supplied Series or DataFrame
    Returns a float or a Series
    """
    demeaned_r = r - r.mean()
    # use the population standard deviation, so set dof=0
    sigma_r = r.std(ddof=0)
    exp = (demeaned_r**4).mean()
    return exp/sigma_r**4

kurtosis(hfi).idxmax()

'Fixed Income Arbitrage'